@model MVCWebApplication4.Models.Provider
@{
    ViewBag.Title = "ContactUs";
}

<h2>ContactUs</h2>

@ViewBag.Message
<p>Tata Consultancy Services</p>
<p>Vikas Upadhyay - Welcome to the TCS Family</p>

<br />
@Model.ProviderId
<br />
@Model.ProviderName
<br />
@Model.ProviderType

